<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SaveImageOrigin" value="true" />
		<add key="SaveImageOK" value="true" />
		<add key="SaveImageNG" value="true" />
		<add key="SaveLogDays" value="15" />
		<add key="ConfidenceThreshold" value="0.65" />
		<add key="IPAddress" value="127.0.0.1" />
		<add key="Port" value="9900" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>